<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  


  <add name="ERPEntities" connectionString="metadata=res://*/Models.Entities.ERPEntitiesModel.csdl|res://*/Models.Entities.ERPEntitiesModel.ssdl|res://*/Models.Entities.ERPEntitiesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=ERP;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>